.orders > .row > div {
  border: 1px solid #ced4da;
}
.App {
  overflow: hidden;
}
.orders .row .input-group {
  border: none !important;
  margin-bottom: 5px !important;
}
.modal-footer {
  background-color: #ddd;
}
.modal-body > .row > div:first-of-type {
  border-left: 3px solid #ddd;
  padding-top: 10px;
}
.modal-body > .row > div:last-of-type {
  padding-top: 35px;
}
.modal-body {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.modal-body label {
  font-weight: 700;
  margin: 0 7px;
}
.modal-body input {
  border: 1px solid rgb(182, 182, 182);
  padding: 5px 10px;
}
.isactive {
  color: #000 !important;
  font-weight: 900 !important;
  font-size: 18px !important;
}
